body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-inter: Inter;

  /* font sizes */
  --font-size-sm: 14px;
  --font-size-xl: 20px;
  --font-size-base: 16px;

  /* Colors */
  --color-white: #fff;
  --color-lavender: rgba(224, 235, 249, 0.73);
  --color-lightskyblue: #97c7ff;
  --color-steelblue: #6394cc;
  --color-black: #000;
  --color-red: rgba(255, 19, 33, 0.59);
  --color-gray-100: rgba(0, 0, 0, 0.75);
  --color-gray-200: rgba(0, 0, 0, 0.59);

  /* Gaps */
  --gap-8xl: 27px;
  --gap-xl: 20px;
  --gap-4xs: 9px;
  --gap-10xl: 29px;

  /* Paddings */
  --padding-xl: 20px;
  --padding-12xl: 31px;
  --padding-29xl: 48px;
  --padding-2xs: 11px;
  --padding-5xl: 24px;
  --padding-xs: 12px;
  --padding-7xl: 26px;
  --padding-8xl: 27px;
  --padding-5xs: 8px;
  --padding-6xs: 7px;
  --padding-9xs: 4px;
  --padding-94xl: 113px;
  --padding-smi: 13px;
  --padding-12xs: 1px;
  --padding-15xl: 34px;
  --padding-7xs: 6px;
  --padding-3xs: 10px;
  --padding-6xl: 25px;
  --padding-11xs: 2px;
  --padding-8xs: 5px;
  --padding-4xs: 9px;

  /* Border radiuses */
  --br-xl: 20px;
  --br-11xl: 30px;
  --br-3xs: 10px;
  --br-6xl: 25px;
}
