<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./index.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;700&display=swap"
    />
   
  </head>
  <body>
    <div class="add-jobs">
      <header class="nav">
        <div class="nav-child"></div>
        <div class="value-link">
          <div class="rectangle-parent">
            <img
              class="frame-child"
              loading="lazy"
              alt=""
              src="./public/rectangle-22@2x.png"
            />

            <div class="frame-wrapper">
              <div class="frame-parent">
                <div class="frame-group">
                  <div class="rectangle-group">
                    <button class="frame-item">
                      <img
                        class="material-symbolshome-icon"
                        loading="lazy"
                        alt=""
                        src="./public/materialsymbolshome.svg"
                      />
                      <div class="home">Home</div>
                    </button>
                  </div>
                </div>
                <div class="frame-container">
                  <button class="applications-btn-parent">
                    <div class="applications-btn"></div>
                    <img 
                    class="application-icon"
                    loading="lazy" 
                    alt=""
                    src="public/mdinotes@2x.png"
                    />
                    <div class="applications">Applications</div>
                  </button>
                </div>
                <button class="recruiter-btn">
                  <div class="recruiter-btn-child"></div>
                  <img 
                  class="addjobs-icon"
                  alt=""
                  src="./public/ggadd@2x.png"
                  />
                  <div class="add-jobs1">Add Jobs</div>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="nav-item">
          <img
          class="profile-icon"
          src="./public/ggprofile@2x.png"
          alt=""
          />
          <img
          class="note-icon"
          src="./public/solarlistlinear@2x.png"
          alt=""
          />
        </div>
      </header>
     
      <main class="frame-main">
        <section class="wrapper-adj-1-wrapper">
          <div class="wrapper-adj-1">
            <img
              class="adj-1-icon"
              loading="lazy"
              alt=""
              src="./public/adj-1@2x.png"
            />
          </div>
        </section>
        <div class="line-parent">
          <div class="frame-inner"></div>
          <div class="line-div"></div>
        </div>
        <section class="frame-section">
          <div class="frame-div">
            <textarea
              class="frame-textarea"
              placeholder="Job Title"
              rows="{7}"
              cols="{61}"
            >
            </textarea>
          </div>
          <div class="frame-wrapper1">
            <div class="frame-parent1">
              <div class="frame-parent2">
                <div class="job-description-wrapper">
                  <b class="job-description">Job Description</b>
                </div>
                <input class="vector-parent" placeholder="basic description about the job in 30 words">
              </div>
              <div class="blend-modes-wrapper">
                <div class="blend-modes"></div>
              </div>
            </div>
          </div>
          <div class="wrapper-jd-1-wrapper">
            <div class="wrapper-jd-1">
              <img
                class="jd-1-icon"
                loading="lazy"
                alt=""
                src="./public/jd-1@2x.png"
              />
            </div>
          </div>
          <div class="frame-child1"></div>
          <div class="frame-wrapper2">
            <div class="frame-parent3">
              <div class="frame-wrapper3">
                <div class="frame-parent4">
                  <div class="frame-parent5">
                    <div class="location-wrapper">
                      <b class="location">Location</b>
                    </div>
                    <input class="rectangle-div">
                  </div>
                  <div class="data-aggregator-parent">
                    <div class="data-aggregator">
                      <div class="function-chain">
                        <div class="logic-splitter">
                          <b class="start-date">Start Date</b>
                        </div>
                        <input type="datetime-local" class="input-collector">
                      </div>
                      <div class="error-handler">
                        <div class="frame-parent6">
                          <div class="frame-parent7">
                            <div class="job-type-wrapper">
                              <b class="job-type">Job Type</b>
                            </div>
                            <div class="frame-parent8">
                              <div class="frame-wrapper4">
                                <button class="rectangle-container" id="toggleButton" onclick="changeImage()">
                                  <div class="frame-child2"></div>
                                  <div
                                    class="add-fill0-wght400-grad0-opsz24-wrapper"
                                  >
                                    <img
                                      class="add-fill0-wght400-grad0-opsz24-icon"
                                      id="image"
                                      alt=""
                                      src="./public/add-fill0-wght400-grad0-opsz24-1@2x.png"
                                    />
                                  </div>
                                  <div class="full-time">Full-time</div>
                                  
                                </button>
                              </div>
                              <button class="transform-pair" id="toggleButton" onclick="changeImage()" >
                                <div class="transform-pair-child"></div>
                                <div
                                  class="add-fill0-wght400-grad0-opsz24-container"
                                >
                                  <img
                                    class="add-fill0-wght400-grad0-opsz24-icon1"
                                    id="image"
                                    alt=""
                                    src="./public/add-fill0-wght400-grad0-opsz24-1@2x.png"
                                  />
                                </div>
                                <div class="permanent">Permanent</div>
                                
                              </button>
                            </div>
                          </div>
                          <div class="output-filter">
                            <button class="value-comparer" id="toggleButton">
                              <div class="value-comparer-child"></div>
                             
                                <img
                                  class="add-fill0-wght400-grad0-opsz24-icon2"
                                  id="image"
                                  loading="lazy"
                                  alt=""
                                  src="./public/add-fill0-wght400-grad0-opsz24-1@2x.png"
                                />
                              
                              <div class="temporary">Temporary</div>
                              
                            </button>
                            <button class="value-comparer1" id="toggleButton">
                              <div class="value-comparer-item"></div>
                              <img
                                class="add-fill0-wght400-grad0-opsz24-icon3"
                                id="image"
                                alt=""
                                src="./public/add-fill0-wght400-grad0-opsz24-1@2x.png"
                              />

                              <div class="freelance">Freelance</div>
                              
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="frame-parent9">
                      <div class="end-date-parent">
                        <b class="end-date">End Date</b>
                        <input type="datetime-local" class="rectangle-parent1">
                      </div>
                      <div class="frame-wrapper5">
                        <div class="frame-parent10">
                          <div class="frame-wrapper6">
                            <div class="frame-parent11">
                              <button class="frame-button" id="toggleButton">
                                <div class="frame-child4"></div>
                                <div
                                  class="add-fill0-wght400-grad0-opsz24-frame"
                                >
                                  <img
                                    class="add-fill0-wght400-grad0-opsz24-icon4"
                                    id="image"
                                    alt=""
                                    src="./public/add-fill0-wght400-grad0-opsz24-1@2x.png"
                                  />
                                </div>
                                <div class="part-time">Part-time</div>
                                
                              </button>
                              <button class="rectangle-parent2" id="toggleButton">
                                <div class="frame-child5"></div>
                                <div
                                  class="add-fill0-wght400-grad0-opsz24-wrapper1"
                                >
                                  <img
                                    class="add-fill0-wght400-grad0-opsz24-icon5"
                                    id="image"
                                    alt=""
                                    src="./public/add-fill0-wght400-grad0-opsz24-1@2x.png"
                                  />
                                </div>
                                <div class="volunteer">Volunteer</div>
                                
                              </button>
                            </div>
                          </div>
                          <button class="rectangle-parent3" id="toggleButton">
                            <div class="frame-child6"></div>
                            <div
                              class="add-fill0-wght400-grad0-opsz24-wrapper2"
                            >
                              <img
                                class="add-fill0-wght400-grad0-opsz24-icon6"
                                id="image"
                                alt=""
                                src="./public/add-fill0-wght400-grad0-opsz24-1@2x.png"
                              />
                            </div>
                            <div class="internship">Internship</div>
                          </button>
                          <script src="script.js"></script>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="line-group">
                <div class="frame-child7"></div>
                <div class="salary-wrapper">
                  <b class="salary">Salary</b>
                </div>
                <div class="data-processor">
                  <div class="shape-arranger">
                    <div class="frame-parent12">
                      <div class="minimum-wrapper">
                        <div class="minimum">Minimum</div>
                      </div>
                      <div class="icon-assembler">
                        <input class="color-combinator" type="text"/>
                        <div class="size-adjustor">
                          <div class="to">To</div>
                        </div>
                      </div>
                    </div>
                    <div class="scale-transform">
                      <div class="frame-parent12">
                        <div class="minimum-wrapper">
                          <div class="minimum">Maximum</div>
                        </div>
                        <div class="icon-assembler">
                          <input class="color-combinator" type="text"/>
                          <div class="size-adjustor">
                            <div class="to">To</div>
                          </div>
                        </div>
                      </div>
                      <div class="boolean-operation">
                        <div class="blend-operation">
                          <label for="rate">Rate:</label>
                          
                        </div>
                        <div class="stroke-operation">
                          <select name="rate" id="rate">
                            
                            <option value="Monthly">Monthly</option>
                            <option value="Annual">Annual</option>
                          </select>
                          <br><br>
                         
                          <div class="stroke-operation-child"></div>
                          <div class="effect-container"> 
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="frame-wrapper7">
                  <div class="frame-parent13">
                    <div class="frame-parent14">
                      <div class="line-container">
                        <div class="frame-child8"></div>
                        <div class="frame-child9"></div>
                      </div>
                      <div class="job-requirments-wrapper">
                        <b class="job-requirments">Job Requirments</b>
                      </div>
                    </div>
                    <div class="stroke-property">
                      <div class="effect-property">
                        <div class="transform-property">
                          <div class="position-property">
                            <div class="experience">Experience</div>
                          </div>
                          <input class="rotation-property" type="text"/>
                        </div>
                        <textarea
                          class="transform-property1"
                          placeholder="Skills"
                          rows="{6}"
                          cols="{25}"
                        >
                        </textarea>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="scale-property">
            <div class="opacity-property">
              <div class="blend-mode-property"></div>
              <div class="raster-image-property-wrapper">
                <button class="raster-image-property">
                  <div class="raster-image-property-child"></div>
                  <b class="submit">Submit</b>
                </button>
              </div>
            </div>
          </div>
        </section>
      </main>
    </div>
  </body>
</html>
