<!DOCTYPE html>
<html>
<head>
  {% load static %}
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Desktop - 1</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C600%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abhaya+Libre%3A700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A400%2C600"/>
  <link rel="stylesheet" href="./styles/desktop-1.css"/>
  <link rel="stylesheet" href="{% static 'style/landing_page.css' %}">

  <script>
      function scrollToContact() {
        // Get the position of the contact section relative to the top of the document
        var contactSection = document.getElementById("contact-us-section");
        var contactSectionPosition = contactSection.offsetTop;

        // Smoothly scroll to the contact section
        window.scrollTo({
          top: contactSectionPosition,
          behavior: 'smooth'
        });
      }
  </script>
</head>
<body>
<div class="desktop-1-5TD">
  <nav class="nav">
    <a href="{% url 'landing_page' %}"><img class="naukrimg"  src="{% static  'images/logo_1.png' %}" alt=""></a>

    <div class="menu">
      <a href="{% url 'j1' %}"><button class="jobs">Jobs</button>
      <button class="companies">Companies</button>
      <button class="services">Services</button>
    </div>

    <a href="{% url 'login' %}"><button class="login" >Login</button></a>
    <div class="dropdown">
      <button class="dropdown-btn">Register</button>
      <div class="dropdown-content">
      <a href="#"><img src="{% static 'images/user.png' %}" alt="Image1">User</a>
      <a href="#"><img src="{% static 'images/recruiter.jpg'%}" alt="Image1">Recruiter</a>
      </div>
    </div>

    <button class="fremp" onclick="scrollToContact()">
      Contact Us
    </button>

  </nav>

  <div class="rectangle-8-D2w"></div>
  <div class="rectangle-9-xmD"></div>

  <p class="find-your-job-now-qa7">Find your job now</p>
  <p class="if-opportunity-doesnt-knock-build-a-door-LFy">“If opportunity doesn't knock, build a door”</p>

  <div class="rectangular-bar">
    <img src="{% static 'images/search-555.png' %}" alt="Image" class="left-image">
    <div class="dropdown">
      <select>
        <option value="option1">Option 1</option>
        <option value="option2">Option 2</option>
        <option value="option3">Option 3</option>
      </select>
    </div>

    <span class="separator">|</span>

    <div class="dropdown">
      <select>
        <option value="option1">Option A</option>
        <option value="option2">Option B</option>
        <option value="option3">Option C</option>
      </select>
    </div>

    <span class="separator">|</span>

    <div class="dropdown">
      <select>
        <option value="option1">Option X</option>
        <option value="option2">Option Y</option>
        <option value="option3">Option Z</option>
      </select>
    </div>

    <button class="right-button">Search</button>
  </div>



  <p class="selected-candidates-QYf">Selected Candidates</p>

  <div class="rectangle-14-vX1"></div>
  <div class="rectangle-15-fUb"></div>
  <div class="rectangle-16-CjR"></div>
  <div class="rectangle-17-kF9"></div>

  <img class="rectangle-18-tcF" src="{% static 'images/c1.jpg' %}"/>

  <img class="rectangle-19-1wm" src="{% static 'images/c2.jpg' %}" />
  <img class="rectangle-20-iLP" src="{% static 'images/c3.jpg' %}"/>

  <img class="rectangle-21-DY3" src="{% static 'images/c4.jpg' %}"/>

  <div class="rectangle-22-wD9" id="contact-us-section"></div>

</div>



  <div id="google_translate_element"></div>

  <script type="text/javascript">
    function googleTranslateElementInit() {
        new google.translate.TranslateElement({
            pageLanguage: 'en',
            includedLanguages: 'en,mr',  // English and Marathi
        }, 'google_translate_element');
    }
  </script>

    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


</body>
</html>
