<!DOCTYPE html>
<html>
<head>
  {% load static %}
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Desktop - 1</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C600%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abhaya+Libre%3A700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A400%2C600"/>
  <link rel="stylesheet" href="./styles/desktop-1.css"/>
  <link rel="stylesheet" href="{% static 'style/landing_page.css' %}">
</head>
<body>

<div class="desktop-1-5TD">
  <nav class="nav">
    <img class="naukrimg"  src="https://static.naukimg.com/s/4/100/i/naukri_Logo.png" alt="">

    <div class="menu">
      <button class="jobs">Jobs</button>
      <button class="companies">Companies</button>
      <button class="services">Services</button>
    </div>

    <button class="login">Login</button>
    <div class="dropdown">
      <button class="dropbtn">Register</button>
      <div class="dropdown-content">
        <a href="#">User</a>
        <a href="#">Recruiter</a>
      </div>
    </div>

    <button class="fremp">
      Contact Us
    </button>

  </nav>

  <div class="rectangle-8-D2w"></div>
  <div class="rectangle-9-xmD"></div>

  <p class="find-your-job-now-qa7">Find your job now</p>
  <p class="if-opportunity-doesnt-knock-build-a-door-LFy">“If opportunity doesn't knock, build a door”</p>

  <div class="rectangle-10-D4s"></div>

  <img class="search-1mR" src="./assets/search.png"/>

  <p class="selected-candidates-QYf">Selected Candidates</p>

  <div class="rectangle-14-vX1"></div>
  <div class="rectangle-15-fUb"></div>
  <div class="rectangle-16-CjR"></div>
  <div class="rectangle-17-kF9"></div>

  <img class="rectangle-18-tcF" src="{% static 'images/c1.jpg' %}"/>

  <div class="rectangle-19-1wm" ></div>
  <div class="rectangle-20-iLP"></div>

  <img class="rectangle-21-DY3" src="{% static 'images/c4.jpg' %}"/>

  <div class="rectangle-22-wD9"></div>

</div>

  <div id="google_translate_element"></div>

  <script type="text/javascript">
    function googleTranslateElementInit() {
        new google.translate.TranslateElement({
            pageLanguage: 'en',
            includedLanguages: 'en,mr',  // English and Marathi
        }, 'google_translate_element');
    }
  </script>

    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</body>
</html>
