<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <style>
        #password-strength {
            margin-top: 10px;
            font-weight: bold;
        }

        .alert {
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid transparent;
        border-radius: 4px;
        }

        .alert-success {
        color: #3c763d;
        background-color: #dff0d8;
        border-color: #d6e9c6;
        }


    </style>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">

</head>
<body>
    <h2>Sign Up</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name" required><br>
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email" required><br>
        <label for="mobile">Mobile:</label><br>
        <input  type="text" id="mobile" name="mobile" required><br>
        <div>
            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password" onkeyup="checkPasswordStrength()" required><br>
            <div id="password-strength"></div>
        </div>

        <label for="city">City:</label><br>
        <input type="text" id="city" name="city" required><br><br>
        <label for="location">Location:</label><br>
        <input type="text" id="location" name="location" required><br><br>
        <label for="image">Image:</label><br>
        <input type="file" id="image" name="image" accept="image/*" required><br>
        <input  type="submit" value="Sign Up">

        <script>
            function is_password_strong(password) {
                if (password.length < 8) {
                    return false;
                }

                if (!/[A-Z]/.test(password)) {
                    return false;
                }

                if (!/[a-z]/.test(password)) {
                    return false;
                }

                if (!/\d/.test(password)) {
                    return false;
                }

                var special_characters = "!@#$%^&*()-_=+[]{}|;:'\",.<>/?";
                if (!RegExp("[" + special_characters.replace(/[-\/\\^$*+?.()|[\]{}]/g, '\\$&') + "]").test(password)) {
                    return false;
                }

                return true;
            }

            function checkPasswordStrength() {
            var password = document.getElementById("password").value;
            var strengthText = document.getElementById("password-strength");

            var isStrong = is_password_strong(password);

            if (password.length === 0) {
                strengthText.innerHTML = "";
            } else {
                strengthText.innerHTML = "Password Strength: " + (isStrong ? "<span style='color: green;'>Strong</span>" : "<span style='color: red;'>Weak</span>");
            }
        }
        </script>

        {% if messages %}
        <div class="alert alert-success" role="alert">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
        {% endif %}
    </form>
</body>
</html>
