<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <link rel="stylesheet" href="{% static 'style/job_seeker/JList.css' %}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap"
    />


    <style>
      /* Style for modal overlay */
      .modal {
          display: none;
          position: fixed;
          z-index: 1000; /* Ensure it appears above other elements */
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          overflow: auto;
          background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
      }

      .modal-content {
          background-color: #fefefe;
          margin: 15% auto;
          padding: 20px;
          border: 1px solid #888;
          width: 50%;
          box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); /* Add box shadow for a lifted effect */
      }

      .filter-section {
        margin-bottom: 15px;
      }

      label {
        font-weight: bold;
      }

      input[type="text"],
      select {
        width: 100%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 5px;
      }

      .button-section {
        text-align: right;
      }

      button {
        background-color: #4CAF50;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        margin-left: 10px;
      }

      button:hover {
        background-color: #45a049;
      }

      #closeFilterModal {
        background-color: #f44336; /* Red */
      }

      #closeFilterModal:hover {
        background-color: #da190b; /* Darker red */
      }

      #filterButton {
            border: 1px solid black;
    position: absolute;
    bottom: 17px;
    left: 1110px;
    display: inline-block;
    padding: 10px 20px;
    background-color: #80808000;
    color: #000000;
    text-decoration: none;
    border-radius: 32px;
    transition: background-color 0.3s ease;
      }

      #filterButton:hover {
        background-color: #b2d7ff; /* darker blue color on hover */
      }

      .blue-container {
        background-color: #FFF5EE;; /* Blue background color */
        padding: 2px; /* Add padding for spacing */
        border-radius: 9px; /* Add border radius for rounded corners */
        height: 69px;
      }
    </style>

  </head>
  <body>
    <!-- Navbar content -->
    <header class="navbarframe">
      <div class="frame-parent">
        <a href="{% url 'job_list' %}" style="text-decoration: none; color: inherit;"><div class="logo-wrapper">
          <img
            class="logo-icon"
            loading="lazy"
            alt=""
            src="{% static 'images/logo@2x.png' %}"
          />
        </div></a>
        <a href="{% url 'u_landing_page' %}" style="text-decoration: none; color: inherit;"><div class="home-button-wrapper">
            <button class="home-button" style="border: 0px solid black;">
            <img
              class="material-symbolshome-icon"
              loading="lazy"
              alt=""
              src="{% static 'images/materialsymbolshome@2x.png' %}"
            />
            <div class="home-wrapper">
                <div class="home" style="color: #000; font-weight: bold;">Home</div>
            </div>
          </button>
        </div></a>
        <a href="{% url 'job_status' %}" style="text-decoration: none; color: inherit;"><div class="frame-button-wrapper">
          <button class="apllication-button-parent">
            <div class="apllication"></div>
            <img
              class="mdinotes-icon"
              loading="lazy"
              alt=""
              src="{% static 'images/status.jpg' %}"
            />

            <div class="application-wrapper">
              <div class="application">Status</div>
            </div>
          </button>
        </div></a>
        <a href="{% url 'job_list' %}" style="text-decoration: none; color: inherit;"><div class="upload-button-wrapper">
          <a href="" style="text-decoration: none"><button class="upload-button">
            <div class="addjob"></div>
            <img
              class="ggadd-icon"
              loading="lazy"
              alt=""
              src="{% static 'images/ggadd@2x.png' %}"
            />
            <div class="add-job-wrapper">
              <div class="add-job">Jobs</div>
            </div>
          </button></a>
        </div></a>

        <div id="google_translate_element"></div>

        <a id="filterButton">Filter</a>


        <script type="text/javascript">
          function googleTranslateElementInit() {
              new google.translate.TranslateElement({
                  pageLanguage: 'en',
                  includedLanguages: 'en,mr',  // English and Marathi
              }, 'google_translate_element');
          }
        </script>

        <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>




      </div>
      <div class="profilepic-button-wrapper">
        <div class="dropdown">

          <button class="profilepic-button">
            <img
              class="solarlist-linear-icon"
              loading="lazy"
              alt=""
              src="{% static 'images/solarlistlinear@2x.png' %}"
            />

            <img
              class="ggprofile-icon"
              loading="lazy"
              alt=""
              src="{% static 'images/ggprofile@2x.png' %}"
            />
          </button>
            <div class="dropdown-content">
                        <!-- Dropdown content goes here -->
                        <a href="{% url 'u_profile' %}">Profile</a>
                        <a href="{% url 'logout' %}">Logout</a>
            </div>
        </div>
      </div>
    </header>
      <div class="container">
        <form action="{% url 'filter_jobs' %}" method="post">
          {% csrf_token %}
          <div id="filterModal" class="modal">
              <div class="modal-content">
                  <!-- Filter options -->
                <div class="filter-section">
                  <label for="jobTypeFilter">Job Type:</label>
                  <select name="jobTypeFilter" id="jobTypeFilter">
                      <option value="All">All</option>
                      <option value="" selected disabled>Select job type</option>
                      <option value="Full-Time">Full Time</option>
                      <option value="Part-Time">Part Time</option>
                      <option value="Permanent">Permanent</option>
                      <option value="Internship">Internship</option>
                      <option value="Temporary">Temporary</option>
                      <option value="Freelance">Freelance</option>
                      <option value="Volunteer">Volunteer</option>
                  </select>
                </div>

                <div class="filter-section">
                    <label for="experienceRangeFilter">Experience:</label>
                    <select name="experienceRangeFilter" id="experienceRangeFilter">
                        <option value="All">All</option>
                        <option value="" selected disabled>Select Experience Filter</option>
                        <option value="0-1 Years" >0-1 Years</option>
                        <option value="1-3 Years">1-3 Years</option>
                        <option value="3-5 Years">3-5 Years</option>
                        <option value="5+ Years"> 5+ Years</option>
                        <!-- Add more options as needed -->
                    </select>
                </div>

                <div class="filter-section">
                    <label for="salaryRangeFilter">Salary Range:</label>
                    <select name="salaryRangeFilter" id="salaryRangeFilter">
                        <option value="All">All</option>
                        <option value="" selected disabled>Select salary range</option>
                        <option value="0 - 50000">₹0 - ₹50,000</option>
                        <option value="50001 - 100000">₹50,001 - ₹100,000</option>
                        <option value="100001 - 150000">₹100,001 - ₹150,000</option>
                        <!-- Add more options as needed -->
                    </select>
                </div>

                <div class="filter-section">
                    <label for="locationFilter">Location:</label>
                    <select name="locationFilter" id="locationFilter">
                      <option value="All">All</option>
                          <option value="" selected disabled>Select City</option>
                          {% for option in options %}
                              <option value="{{ option }}">{{ option }}</option>
                          {% endfor %}
                    </select>
                </div>

                <div class="filter-section">
                    <label for="skillsFilter">Skills:</label>
                    <select name="skillsFilter" id="skillsFilter">
                      <option value="All">All</option>
                          <option value="" selected disabled>Select skills</option>
                          {% for option in skill_options %}
                              <option value="{{ option }}">{{ option }}</option>
                          {% endfor %}
                    </select>
                </div>

                <div class="filter-section">
                    <label for="titleFilter">Job Title:</label>
                    <select name="titleFilter" id="titleFilter">
                      <option value="All">All</option>
                          <option value="" selected disabled>Select title</option>
                          {% for option in title_options %}
                              <option value="{{ option }}">{{ option }}</option>
                          {% endfor %}
                    </select>
                </div>

                <div class="filter-section">
                    <label for="dateFilter">Deadline:</label>
                    <select name="dateFilter" id="dateFilter">
                      <option value="All">Show All</option>
                        <option value="" selected disabled>Select deadline date</option>
                        <option value="today">Today</option>
                        <!-- Add more options as needed -->
                    </select>
                </div>

                <div class="button-section">
                    <button type="submit" id="applyFilterButton">Apply Filter</button>
                    <button id="closeFilterModal">Close</button>
                </div>
              </div>
          </div>
        </form>

          {% for job in jobs %}
            <div class="content">
              <div class="curved-box">
                <div class="title">{{ job.title }}</div>
                <div class="company-name">{{ job.recruiter.company_name }}</div>
                <img src="{{ job.recruiter.image.url }}" alt="Placeholder Image" class="image">
                <div class="placeholders">
                  <div class="placeholder1">
                    <img src="{% static 'images/briefcase@2x.png' %}" alt="Placeholder" class="placeholder-icon">
                    {{ job.experience }}
                  </div>
                  <div class="separator">|</div>
                  <div class="placeholder2">
                    <img src="{% static 'images/rupee@2x.png' %}" alt="Placeholder" class="placeholder-icon">
                    {{ job.minimum_salary }}
                  </div>
                  <div class="separator">|</div>
                  <div class="placeholder">
                    <img src="{% static 'images/address@2x.png' %}" alt="Placeholder" class="placeholder-icon">
                    {{ job.location }}
                  </div>
                </div>
                <!-- Date placeholder -->
                <div class="date-placeholder">End on:
                    <span class="ti">{{ job.deadline }}</span>
                </div>

                <div class="job-type-placeholder">Job Type:
                    <span class="type">{{ job.job_type }}</span>
                </div>

                <div>
                  <a href="{% url 'job_details' job.id %}"><button class="curved-button">Apply Now</button></a>

                </div>
              </div>
            </div>
          {% endfor %}
        </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

    <script>
        // Get the select elements
        var jobTypeSelect = document.getElementById('jobTypeFilter');
        var experienceSelect = document.getElementById('experienceRangeFilter');
        var locationSelect = document.getElementById('locationFilter');
        var skillsSelect = document.getElementById('skillsFilter');
        var titleSelect = document.getElementById('titleFilter');
        var dateSelect = document.getElementById('dateFilter');

        // Function to handle changes in selection for all filters
        function handleFilterChange(selectElement, storageKey) {
            // Get the selected option value
            var selectedOption = selectElement.value;

            // Store the selected option in localStorage
            localStorage.setItem(storageKey, selectedOption);
        }

        // Add event listeners to detect changes in selection for all filters
        jobTypeSelect.addEventListener('change', function() {
            handleFilterChange(jobTypeSelect, 'selectedJobType');
        });

        experienceSelect.addEventListener('change', function() {
            handleFilterChange(experienceSelect, 'selectedExperience');
        });

        locationSelect.addEventListener('change', function() {
            handleFilterChange(locationSelect, 'selectedLocation');
        });

        skillsSelect.addEventListener('change', function() {
            handleFilterChange(skillsSelect, 'selectedSkills');
        });

        titleSelect.addEventListener('change', function() {
            handleFilterChange(titleSelect, 'selectedTitle');
        });

        dateSelect.addEventListener('change', function() {
            handleFilterChange(dateSelect, 'selectedDate');
        });

        // Retrieve the selected options from localStorage and set them as selected
        var storedJobType = localStorage.getItem('selectedJobType');
        if (storedJobType) {
            jobTypeSelect.value = storedJobType;
        }

        var storedExperience = localStorage.getItem('selectedExperience');
        if (storedExperience) {
            experienceSelect.value = storedExperience;
        }

        var storedLocation = localStorage.getItem('selectedLocation');
        if (storedLocation) {
            locationSelect.value = storedLocation;
        }

        var storedSkills = localStorage.getItem('selectedSkills');
        if (storedSkills) {
            skillsSelect.value = storedSkills;
        }

        var storedTitle = localStorage.getItem('selectedTitle');
        if (storedTitle) {
            titleSelect.value = storedTitle;
        }

        var storedDate = localStorage.getItem('selectedDate');
        if (storedDate) {
            dateSelect.value = storedDate;
        }
    </script>





    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Get filter button, modal, and filter options
            const filterButton = document.getElementById('filterButton');
            const filterModal = document.getElementById('filterModal');
            const closeFilterModalButton = document.getElementById('closeFilterModal');


            // Show filter modal when filter button is clicked
            filterButton.addEventListener('click', function () {
                filterModal.style.display = 'block';
            });

            // Close filter modal when close button is clicked
            closeFilterModalButton.addEventListener('click', function () {
                filterModal.style.display = 'none';
            });

            // Close filter modal when clicking outside of it
            window.addEventListener('click', function (event) {
                if (event.target === filterModal) {
                    filterModal.style.display = 'none';
                }
            });
        });

    </script>

    <script>
        // Get the "today" option element
        var todayOption = document.querySelector('option[value="today"]');

        // Get the current date
        var currentDate = new Date();

        // Format the current date as YYYY-MM-DD
        var formattedDate = currentDate.toISOString().slice(0,10);

        // Set the value of the "today" option to the current date
        todayOption.value = formattedDate;
    </script>




    <script>
      $(document).ready(function() {
        {% for message in messages %}
        var messageType = "{{ message.tags }}"
        var messageText = "{{ message }}"

        toastr.options = {
          closeButton: true,
          progressBar: true,
          positionClass: 'toast-bottom-right',
          showMethod: 'slideDown',
          timeout: 5000
        };

        if (messageType === 'success') {
          toastr.success(messageText);
        } else if (messageType === 'error') {
          toastr.error(messageText);
        } else if (messageType === 'info') {
          toastr.info(messageText);
        } else {
          toastr.warning(messageText);
        }
        {% endfor %}
      });
    </script>

  </body>
</html>
